@model Khawla.Web.ViewModels.HomeViewModel

@if (Model != null && Model.AllCategory.Count > 0)
{
    <div class="col-lg-3">
        <div class="hero__categories">
            <div class="hero__categories__all">
                <i class="fa fa-bars"></i>
                <span class="categoryDrop">All departments</span>
            </div>
            <ul class="menu">
                @foreach (var category in Model.AllCategory)
                { 
                <li>
                    <a href="@Url.Action("Index", "Shop", new {categoryID=category.ID})">@category.Name</a>
                    <ul class="sub-menu">
                        @if (category.SubCategories != null && category.SubCategories.Count > 0)
                        {
                        foreach (var subcategory in category.SubCategories)
                        {
                            <li>

                                <a href="@Url.Action("Index", "Shop", new { subcategoryID = subcategory.Id })">@subcategory.SubCategoryName</a>

                            </li>
                        }
                        }

                    </ul>
                </li>
                }
            

            </ul>
        </div>
    </div>
}

@*@foreach (var category in Model.AllCategory)
{
    <li>
        <a href="@Url.Action("Index", "Shop", new {categoryID=category.ID})">@category.Name</a>

        <ul class="category_right_sliding">
            @foreach (var subcategory in category.SubCategories)
            {
                <li>

                    <a href="@Url.Action("Index", "Shop", new {subcategoryID=subcategory.Id})">@subcategory.SubCategoryName</a>

                </li>
            }
        </ul>
    </li>
}*@